html, body,#react-root{
height: 100%!important;
}
.main-layout{
	display: flex !important;
	min-height: 100vh!important;
	flex-direction: column!important;
}
.Site-header,
.Site-footer {
  flex: none;
}
.bodyLay{
  flex: 1!important;
}

.logoSel{
	width: 180px;
	height: 150px;
	float:left;
	margin-left: 5px;
}

footer{
	margin-top:15px ;
	text-align: center ;

}

.logo{
	width:35px;
	height:35px;
	margin-right:5px;
}
#tailletext{
	font-size: 0.8em;
}

.tailletext2 {
	font-size: 1em;
}

.TitrePage{
	color: #db2828;
	font-size: 22px;
}

.segtitre {
 padding:0px !important;
}

.aSpe{
	text-decoration: none;
	color:black;
	font-weight:bold;
	margin-left:5px;

}
hr {
	border-top: 2px solid #db2828;
}

.croixrouge {
	width: 130px;
	height: 110px;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}


h2{
	font-size: 1.4em!important;
}

#content{
	margin-left: 45px !important;
	margin-right: 45px !important;

}
.segactus {
	margin-right: 45px !important;
	margin-left: 45px !important;
}

.contact {
	margin: 45px !important;
}

.segconnexion {
	margin: 45px !important;
}



.labelAn{
	cursor: default!important;
	user-select : none!important;
	margin-bottom: 15%!important;
}
.titreTableauAnn{
	font-weight: bold;
}
.grosTitreTableauAnn{
	font-weight: bold;
	font-size: 2em;
}
.titreTableau{
	font-size: 1.1em!important;
	font-weight: bold!important;
	background:rgba(219,40,40,1)!important;
	color:white!important;

}
.imgSs{
	height:13px;
	margin-bottom:-1px;

}
.titreActuMonC{
	text-decoration: none;
	color:black;
	font-weight:bold;
	margin-left:5px;
}
.titreActuMonC:hover{
	color:blue;
	cursor:pointer;
}


